.center-button {
    margin: 20px auto;
    display: block;
}

.results-table.mat-table mat-header-row,
.results-table.mat-table mat-row {
  padding: 0 24px 0 0;
}

.results-table.mat-table mat-header-cell,
.results-table.mat-table mat-cell {
  padding: 0 0 0 24px;
}

.paginator{
  margin: 0px 20px;
}
.results-table {
  font-size: 8px;
  margin: 0px 20px 20px 20px;
  box-shadow: 3px 3px 15px var(--shadow-color);

  th{
    font-weight: 900;
  }
  td{
    font-weight: 300;
  }
}
.table-column{
  width: 1fr;
}

